#pavadinimas{
    display: flex;
    justify-content: center;
    align-self: center;
}
#vardas{
    position: absolute;
    z-index: 5;
    margin-top: 2%;
}
#autor{
    position: absolute;
    z-index: 1;
    margin-top: 5%;
}
.box{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin-top: 10%;
    background-color: antiquewhite;
}
.game{
    display: flex;
    justify-content: center;
    align-self: center;
}
#l1{
    width: 30%;
    height: 30%;
    border: 2px solid black;
    background-color: rgba(205, 92, 92, 0);
}
#l2{
    width: 30%;
    height: 30%;
    border: 2px solid black;
    background-color: rgba(205, 92, 92, 0);
}
#l3{
    width: 30%;
    height: 30%;
    border: 2px solid black;
    background-color: rgba(205, 92, 92, 0);
}
#l4{
    width: 30%;
    height: 30%;
    border: 2px solid black;
    background-color: rgba(205, 92, 92, 0);
}
#l5{
    width: 30%;
    height: 30%;
    border: 2px solid black;
    background-color: rgba(205, 92, 92, 0);
}
#l6{
    width: 30%;
    height: 30%;
    border: 2px solid black;
    background-color: rgba(205, 92, 92, 0);
}
#l7{
    width: 30%;
    height: 30%;
    border: 2px solid black;
    background-color: rgba(205, 92, 92, 0);
}
#l8{
    width: 30%;
    height: 30%;
    border: 2px solid black;
    background-color: rgba(205, 92, 92, 0);
}
#l9{
    width: 30%;
    height: 30%;
    border: 2px solid black;
    background-color: rgba(205, 92, 92, 0);

}
